a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in;
}

a:hover {
  transition: all 1s ease-in;
}

#link {
  font-family: "Play", sans-serif;
  color: rgba(255, 255, 255, 1);
}
#link:hover {
  border-bottom: 1px solid rgba(151, 71, 255, 1);
  transition: all 5s ease-in;
}

.nav-container {
  max-width: 1512px;
  padding-left: 0;
  padding-right: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
